html {
  min-height: 100%;
}
      
body {
  background-image: linear-gradient(deepSkyBlue, dodgerBlue, blue, green);
  text-align: center;
  text-decoration: none;
  font-family: serif;
  color: black;
  min-height: 100%;
  user-select: none;
}
      
h1#title {
  font-size: 10vw;
  animation: animation1 1.5s infinite alternate;
  transform: rotateY(20deg);
  text-shadow: 0px 0px 11px white;
}

h1 {
  display: none;
}
      
p#credit {
  margin-bottom: 7px;
  font-size: 4vw;
  display: inline;
}

p#credit a {
  color: orange;
}
      
button#start {
  padding: 15px;
  border: 2px black solid;
  background-image: linear-gradient(to bottom left, white, darkBlue);
  background-size: 400%;
  background-position: left;
  animation: animation2 5s infinite linear alternate;
  transition: transform 3s ease-out, border-color 1s ease-out, box-shadow 3s linear, color 2s linear, text-shadow 3s linear; 
  box-shadow: 0px 0px;
  display: block;
}
      
button#start:hover {
  transform: rotate(1440deg);
  border-color: white;
  box-shadow: 0px 0px 20px 5px white;
  color: white;
  text-shadow: 0px 0px 7px white;
}
      
@keyframes animation1 {
  0%{transform: scale(1, 1);}
  100%{transform: scale(0.85, 1.15);}
}
      
@keyframes animation2 {
  0%{background-position: left;}
  100%{background-position: right;}
}

button {
  cursor: pointer;
  font-size: 5vw;
  font-family: serif;
  text-decoration: none;
  margin: 10px auto;
  padding-left: 5px;
  padding-right: 5px;
  background-image: linear-gradient(lightBlue,dodgerBlue);
  box-shadow: 9px 9px 4.5px rgba(0,0,0,0.25);
  border: 2px black solid;
  transition: border-color 0.5s, box-shadow 0.5s linear;
  color: black;
  position: relative;
  display: none;
}

button:hover {
  border-color: white;
  box-shadow: 0px 0px 10px 2px white;
}

button#yes,button#retreat {
  background-image: linear-gradient(lightGreen, green);
}

button#no,button#attackRu {
  background-image: linear-gradient(orange, red);
}

button#buttonNukeUs, button#restart {
  box-shadow: 0px 0px;
  background-image: linear-gradient(lightGrey, grey);
}

audio {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 275px;
  height: 50px;
  border-top-right-radius: 25px;
  background-color: ghostWhite;
  display: inline;
}
